#usefull_link_block li.devismod_link {
	padding-left:10px;
}

.content_prices .devismod_link {
	clear:both;
	margin-top: 40px;
}

#devismod_form {
}

#devismod_form h2 {
	padding:8px 11px;
	font-size:12px;
	color:#fff;
	text-shadow:0 1px 0 #000;
	text-transform:uppercase;
	background:#383838;
}

#devismod_form .product {
	margin:20px 10px;
}

#devismod_form .product img {
	float:left;
	margin:0 10px 0 0;
	border:1px solid #ccc;
}

#devismod_form .product .product_desc {
	float:left;
	width:380px;
}

#devismod_form .product .product_desc p {
	padding:0 10px 0 0;
	color:#333;
}

#devismod_form .product .product_desc p.product_name {
	font-size:12px;
	color:#000;
}

#devismod_form .product .product_desc p.price_container {
	margin:10px 0 0 0;
	font-size:14px;
	color:#000;
}

#devismod_form .devismod_form_content {
	margin:0 10px 20px;
}

#devismod_form .devismod_form_container {
	padding:10px 15px;
	border:1px solid #ccc;
	background:#eee;
}

#devismod_form .devismod_form_container .intro_form {
	margin-bottom:14px;
}

#devismod_form .devismod_form_container .left,
#devismod_form .devismod_form_container .right {
	display:inline-block;
	vertical-align:top;
}

#devismod_form .devismod_form_container p.txt_required {
	padding-bottom:0;
	color:#666;
}

#devismod_form .devismod_form_container .devismod_form {
	padding-bottom:10px;
}

#devismod_form .devismod_form_container .devismod_form label {
	display:inline-block;
	vertical-align:top;
	padding:6px 15px;
	width:100px;
	font-size:12px;
	text-align:right;
}

#devismod_form .devismod_form_container .devismod_form input {
	padding:0 5px;
	height:22px;
	width:200px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666;
}

#devismod_form .devismod_form_container .devismod_form select {
	width:200px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666;
}

#devismod_form .devismod_form_container .devismod_form textarea {
	padding:0 5px;
	height:80px;
	width:200px;
	border:1px solid #ccc;
	font-size:12px;
	color:#666;
}

#devismod_form .devismod_form_content .devismod_waiting {
	text-align:center;
	display:none;
	padding-bottom:10px;
}

#devismod_form .submit {
	margin-top:20px;
	padding-bottom:0;
	text-align:right;
}

#devismod_form  .devismod_cancel {
	background:none;
	border:none;
	cursor:pointer;
}

#devismod_form_error .errors {
	padding:10px 10px 10px 30px;
	margin-bottom:10px;
	border:1px solid #990000;
	background:#ffcccc;
}

#devismod_form .devismod_form_container .devismod_form #devismod_comment {
	height:210px;
}
