.hotinfo_top {position:fixed; bottom:0px; width:100%; height:40px; z-index:99999; background:#f2f2f2; border-top:1px solid #c0c0c0;}
.hotinfo_top p {color:#959595; font-size:14px; font-family:georgia;}
