{capture name=path}
<a href="{$link->getPageLink('my-account', true)}">{l s='My account' mod='orderfiles'}</a>
<span class="navigation-pipe">{$navigationPipe}</span>
<span class="navigation_page">
{l s='Files uploader' mod='orderfiles'}
</span>
{/capture}

{if $psversion==5}{include file="$tpl_dir./breadcrumb.tpl"}{/if}

<h3 style="margin-top:20px;">{l s='Your orders' mod='orderfiles'}</h3>

<p class="alert alert-info">{l s='select order from your order list for which you want to upload files' mod='orderfiles'}</p>

<table id="order-list" class="table table-bordered">

		<thead>

			<tr>

				<th class="first_item">{l s='Order Reference' mod='orderfiles'}</th>

				<th class="item">{l s='Date' mod='orderfiles'}</th>

				<th class="item">{l s='Total price' mod='orderfiles'}</th>

				<th class="item">{l s='Payment' mod='orderfiles'}</th>

				<th class="item">{l s='Status' mod='orderfiles'}</th>

				<th class="last_item" style="width:65px">{l s='Files' mod='orderfiles'}</th>

			</tr>

		</thead>

	<tbody>

		{foreach from=$orders key=id item=order}

			{if empty($orders)}

			<tr class="first_item ">

				<td colspan="6">

					{l s='If you want upload files, order products first' mod='orderfiles'}

				</td>

			</tr>

			{else}

				<tr class="first_item ">

					<td class="history_link bold">

						{$order.reference}						

					</td>

					<td class="history_date bold">{$order.date_add}</td>

					<td class="history_price"><span class="price">{$order.total_paid} {$mod->currency_sign($order.id_currency)}</span></td>

					<td class="history_method">{$order.payment}</td>

					<td class="history_state">{$order.order_state}</td>

					<td class="history_detail"><form method="post" action="{$link->getModuleLink('orderfiles', 'filesmanager')}"><input type="hidden" name="oid" value="{$order.id_order}" /><input type="submit" class="button button-small" value="{l s='Manage' mod='orderfiles'}"/></form></td>

				</tr>

			{/if}

		{/foreach}

	</tbody>

</table>