{if Configuration::get('OF_TTAB')!=1}
<h3 id="#CustomerFilesUploadTab" class="idTabHrefShort page-product-heading">{l s='Upload files' mod='orderfiles'}</h3> 
{else}
<li><a href="#CustomerFilesUploadTab">{l s='Upload files' mod='orderfiles'}</a></li>
{/if}