/* 
    Created on : 06 jan. 2015
    Author     : Guillaume Heid
*/

.icon-AdminParentUkooFormProManagement:before{ content: "\f0e0";}
.icon-AdminParentUkooFormProManagement{ text-align: center;}
#content.bootstrap #modules_elements.modal .panel{ margin-bottom: 0;}
#content.bootstrap #insert_elements ul.checkbox_group,
#content.bootstrap #insert_elements ul.radio_group{ padding: 0;}
#content.bootstrap #insert_elements ul.checkbox_group li,
#content.bootstrap #insert_elements ul.radio_group li{ list-style: none;}
.bootstrap .list-action-enable.action-enabled{ color: #ffffff;}