/* 
    Created on : 2 déc. 2014, 14:27:04
    Author     : jerome
*/

#desc-ukooformpro_submission-new {
    display: none;
}
#ukooformpro input, #ukooformpro select, #ukooformpro textarea {
    max-width: 410px;
}
#ukooformpro div.uploader input {
    left:0 !important;
}
#ukooformpro div.checker, #ukooformpro div.radio  {
    display: inline;
    line-height: 0;
}
#ukooformpro .ukooformpro_checkbox li, #ukooformpro .ukooformpro_radio li  {
    margin-right: 10px;
}
#ukooformpro .ukooformpro_checkbox input, #ukooformpro .ukooformpro_checkbox label  {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
#ukooformpro .ukooformpro_error {
    color: #f13340;
}